/* 影響整個CSS的變數 */
body {
    margin: 0;
    padding: 0;
}
.all{
    width: 100%;
    overflow: hidden;
}
li {
    list-style: none;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

