.about {
    width: 100%;
}

.abouttitle {
    background-color: black;
    color: white;
    font-size: 60px;
    text-align: center;
}

.elevator {
    width: 100%;
    height: 100vh;
    background-color: brown;
    overflow: hidden;
}

.space {
    line-height: 200px;
    font-size: 60px;
    background-image: url('休閒區塊.jpg');
    background-position: center;
    background-size: cover;
}
.space-word{
    width: 45%;
    margin: auto;
}
.restArea {
    width: 100%;
    background-image: url('bg02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.rest {
    width: 60%;
    height: 100vh;
    position: relative;
    left: 35%;
}

.rest-place-1 {
    width: 100%;
    height: 30%; 
    display: flex;
    justify-content: space-between;
}

.rest-place-2 {
    width: 100%;
    height: 30%;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
}

.rest-img01 {
    width: 30%;
    height: 100%;
    background-image: url('restarea01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-img02 {
    width: 30%;
    height: 100%;
    background-image: url('restarea02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-img03 {
    width: 30%;
    height: 100%;
    background-image: url('restarea03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-img04 {
    width: 30%;
    height: 100%;
    background-image: url('restarea01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-img05 {
    width: 30%;
    height: 100%;
    background-image: url('restarea02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-img06 {
    width: 30%;
    height: 100%;
    background-image: url('restarea03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rest-word {
    width: 60%;
    position: relative;
    bottom: -100px;
    left: 34%;
    background-color: palegoldenrod;
    font-size: 22px;
    padding: 35px;
}

li button {
    list-style: none;
    background-color: palegoldenrod;
    padding: 10px;
    font-size: 25px;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #0f5177;
}

/* 面板大小 */

.container-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 面板區塊 */

.container_wrapper {
    width: 100%;
    height: 100%;
}

.container_wrapper:hover .leftpanel {
    transform: translateX(-100%);
    transition: all 2s ease-out;
}

.container_wrapper:hover .rightpanel {
    transform: translateX(100%);
    transition: all 2s ease-out;
}

/* 左電梯門 點擊前覆蓋畫面 */

.leftpanel {
    background-image: url('銀色.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 2;
    /* 動畫 */
    transform: translateX(0%);
    transition: all 2s ease-out;
}

/* 右電梯門 點擊前覆蓋畫面 */

.rightpanel {
    background-image: url('銀色右.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    float: right;
    position: relative;
    z-index: 2;
    /* 動畫 */
    transform: translateX(0%);
    transition: all 2s ease-out;
}

/* 樓層1 */

#displayarea1 {
    width: 100%;
    height: 100%;
    background-image: url('area01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層2 */

#displayarea2 {
    width: 100%;
    height: 100%;
    background-image: url('area02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層3 */

#displayarea3 {
    width: 100%;
    height: 100%;
    background-image: url('area03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 樓層4 */

#displayarea4 {
    width: 100%;
    height: 100%;
    background-image: url('area01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.clearfix {
    clear: both;
}

/* 影藏的點擊區塊 */

input[type=checkbox] {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}

/* 按鈕部分 */

.floor {
    position: absolute;
    z-index: 2000;
    transition: 2s;
    
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
}
.button-2 {
    width: 200px;
    background-color: azure;
    font-size: 36px;
    text-align: center;
    border: 3px solid black;
    border-top: none;
}
@media(max-width: 1140px){
    .rest {
        position: unset;
        margin: auto;
    }
    .space-word {
        text-align: center;
    }

    .rest-word {
        left: 18%;
    }
}