.traffic-area {
    width:100%;
    height: 60vh;
    background-image: url('bg03.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.traffic {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.traffic-content {
    margin-left: 50%;
}

.traffic-content span {
    font-size: 30px;
    color: white;
}

.traffic-word {
    width: 40%;
    margin-top: 30px;
    float: left;
}

.map {
    width: 60%;
    height: 60%;
    background-image: url('map.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    float: right;
}